
.register-email-otp{
    position: relative;

}
.verify-btn{
    position: absolute;
   right: 17px;
    top: 43px;
    transform: translateY(-50%);
    padding: 5px 10px;
    font-size: 14px;
}

.auth-btn-wrapper button{
    text-decoration: underline;
}

.auth-wrapper{
    margin: 0 auto;
    max-width: 40%;
}

@media (max-width: 1024px) {
    .auth-wrapper{
        max-width: 70%;
    }
}
@media (max-width: 768px) {
    .auth-wrapper{
        max-width: 80%;
    }
}